* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	background-color: #fcfbf8;
	font-family: "Lora", serif;
	color: #2c2821;
	overflow-x: hidden;
}

header {
	position: sticky;
	top: 0;
	background-color: #f5e8c9;
	height: 32px;
	width: 100%;
	z-index: 10;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header a,
header a:link,
header a:visited,
header a:hover,
header a:active {
	color: #2c2821;
	text-decoration: none;
}

.logo {
	display: flex;
	align-items: center;
	gap: 4px;
}

.logo img {
	width: 28px;
	height: 28px;
}

.hamburger {
	display: none;
	font-size: 1.5em;
	cursor: pointer;
}

.menu-toggle {
	display: none;
}

.nav-links .menu {
	display: flex;
}

.menu {
	list-style: none;
	display: flex;
	gap: 12px;
}

.menu > li {
	position: relative;
}

.menu a {
	padding: 10px;
	display: block;
}

.submenu {
	position: absolute;
	top: 100%;
	right: -1rem;
	background-color: #e7e2d59a;
	list-style: none;
	padding: 0;
	margin: 0;
	min-width: 150px;
	display: none;
	z-index: 10;
}

.submenu li a {
	padding: 10px;
}

.menu li:hover .submenu {
	display: block;
}

.has-submenu > a::after {
	content: " ▼";
	font-size: 0.7rem;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 50px;
	height: 100vh;
	width: 100vw;
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
		url("./assets/hero.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: whitesmoke;
	text-align: center;
}

main h1 {
	font-family: "Alice", serif;
	font-size: 3rem;
}

main p {
	font-size: 1.4rem;
}

.ingredients-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 98%;
	height: auto;
	scroll-margin-top: 32px;
	padding: 0 4%;
}

h2,
h3 {
	font-family: "Alice", serif;
}

h2 {
	margin-bottom: 8px;
	color: #233e32;
	font-size: 1.8rem;
}

h3 {
	margin-bottom: 4px;
	color: #2c2821;
}

.list-ingredients {
	width: 80%;
	margin: 2%;
}

.card-list {
	margin-top: 20px;
	padding: 2% 8%;
	background-color: #f0ede6;
}

.image-ingredients {
	width: 44%;
	height: auto;
}

.image-ingredients img {
	width: 100%;
	height: 740px;
	object-fit: cover;
}

.steps-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 12px;
	scroll-margin-top: 40px;
}

.steps-container h2 {
	margin-bottom: 16px;
}

.recipe-steps {
	list-style: none;
	padding: 0;
	margin: 0;
}

.recipe-steps li {
	display: flex;
	align-items: center;
	margin-bottom: 2rem;
}

.step-number {
	background-color: #cdc4af;
	width: 60px;
	height: 80px;
	font-weight: bold;
	font-size: 20px;
	color: #222;
	display: flex;
	justify-content: center;
	align-items: center;
	clip-path: polygon(100% 0, 100% 75%, 50% 100%, 0 75%, 0 0, 50% 20%);
	margin-right: 20px;
	flex-shrink: 0;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.sauce-steps {
	list-style: none;
}

.sauce-steps li {
	position: relative;
	padding-left: 2rem;
	margin-bottom: 2rem;
}

.sauce-steps li::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0.2rem;
	width: 6px;
	height: 100%;
	background-color: #cdc4af;
	border-radius: 3px;
}

.sauce-steps li:nth-child(2) {
	margin-left: 1rem;
}
.sauce-steps li:nth-child(3) {
	margin-left: 2rem;
}
.sauce-steps li:nth-child(4) {
	margin-left: 3rem;
}

.sauce-img img {
	height: 440px;
}

.tips-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
	width: 100%;
	height: 240px;
	margin-bottom: 20px;
	background-image: linear-gradient(
			rgba(255, 255, 255, 0.8),
			rgba(255, 255, 255, 0.8)
		),
		url("./assets/background.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.tips-container h2,
p {
	width: 80%;
}

.baking-steps {
	margin: 40px 20px;
	gap: 60px;
}

.oven-image {
	height: 400px;
	width: 43%;
}

.oven-image img {
	height: 100%;
	object-fit: cover;
	object-position: 0px -280px;
}

.lasagna-ready {
	height: 300px;
	width: 43%;
}

.lasagna-ready img {
	height: 100%;
	width: 100%;
}

.last-tips {
	width: 52%;
}

.final-tips-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
	padding: 1rem;
	width: 100%;
}

.final-tips {
	padding: 8px 12px;
	background-color: #f0ede6;
}

.wide {
	grid-column: span 2;
}

footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 20px 40px;
	background-color: #f5e8c9;
}

footer img {
	width: 28px;
	height: 28px;
}

.social-container {
	display: flex;
	gap: 8px;
}

.text-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 18rem;
	text-align: center;
}

@media (max-width: 768px) {
	.nav-links {
		display: none;
		background-color: #f5e8c4;
		position: absolute;
		top: 32px;
		right: 0;
		width: 100%;
		padding: 1em;
	}

	.nav-links .menu {
		flex-direction: column;
	}

	.menu-toggle:checked + .hamburger + .nav-links {
		display: flex;
	}

	.hamburger {
		display: block;
	}

	main h1 {
		font-size: 1.6rem;
	}

	main p {
		font-size: 1rem;
	}

	.ingredients-container {
		flex-direction: column;
	}

	.ingredients-container img {
		display: none;
		width: 0;
		height: 0;
	}

	h2 {
		font-size: 1.4rem;
	}

	.steps-container h2 {
		width: 80%;
	}

	.recipe-steps li {
		margin-left: 12px;
	}

	.tips-container {
		height: 300px;
		background-image: linear-gradient(
				rgba(255, 255, 255, 0.9),
				rgba(255, 255, 255, 0.9)
			),
			url(./assets/background.jpg);
	}

	.baking-steps {
		gap: 0;
	}

	.oven-image {
		height: 0;
	}

	.lasagna-ready {
		height: 0;
	}

	.last-tips {
		width: 95%;
	}

	.final-tips-container {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 1rem;
		padding: 1rem;
		width: 100%;
	}

	.final-tips {
		grid-column: span 2;
	}

	.social-container img {
		width: 20px;
		height: 20px;
	}

	.text-container {
		font-size: 0.6rem;
	}
}

@media (max-width: 1024px) {
	.oven-image {
		width: 60%;
	}

	.oven-image img {
		object-position: 0px -80px;
	}
}
